* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", "Inter", sans-serif;
}

:root {
  --primary: #00b074;
  --secondary: #2b9bff;
  --light: #effdf5;
  --dark: #2b3940;
  --normalWhite: #fff;
}

.container {
  width: 100%;
  height: 100vh;
}
/* --------------NAVIGATION BAR STYLING-------------- */
nav {
  width: 100%;
  height: 70px;
  background: var(--normalWhite);
  padding: 0px 0 0 5%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 9999;
}

.logo {
  font-size: 35px;
  font-weight: 800px;
  font-family: "Inter", sans-serif;
  color: var(--primary);
  cursor: pointer;
}

nav ul {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  text-align: right;
  margin: 0 24px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: var(--dark);
  font-weight: 500;
}

nav ul li a .fa-solid {
  margin-left: 5px;
}

.active-link,
nav ul li a:hover {
  color: var(--primary);
}

.postAJob {
  width: 220px;
  background: var(--primary);
  height: 100%;
  text-align: center;
  text-decoration: none;
  display: flex;
  color: var(--normalWhite);
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.postAJob .fa-solid {
  margin-left: 15px;
}

label .fa-solid {
  font-size: 30px;
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

label:hover {
  border: 2px solid #ccc;
}

/* ----------------------Hero Section---------------------- */

.hero {
  width: 100%;
  height: 100vh;
}

.hero-slide {
  position: relative;
  top: 70px;
}

.hero-slide img {
  width: 100%;
  height: 100%;
}

.darkLayer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(43, 57, 64, 0.5);
  top: 0;
  /* padding-left: 5%; */
}

.darkLayer::before {
  content: "";
  width: 100px;
  height: 55%;
  border: 12px solid var(--primary);
  border-right: 0;
  position: relative;
  left: 5%;
}

.display-3 {
  font-size: 65px;
  font-family: "Inter", sans-serif;
  color: var(--normalWhite);
  margin-bottom: 20px;
}

.slideText {
  font-size: 20px;
  color: var(--light);
  max-width: 700px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  padding: 15px 30px;
  text-decoration: none;
  background: var(--primary);
  margin-right: 10px;
  margin-top: 30px;
  color: var(--normalWhite);
  font-weight: 500;
  cursor: pointer;
}

.active-btn,
.btn:hover {
  background: var(--secondary);
}

.sliderIcon {
  position: absolute;
  right: 10%;
  bottom: 40%;
  display: block;
}

.sliderIcon .swiper-button-next::after,
.sliderIcon .swiper-button-prev::after {
  font-size: 20px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  padding: 10px 15px;
  border: 1px solid#fff;
  align-items: center;
  color: var(--normalWhite);
  text-align: center;
}

/* --------------------Search Section Styling-------------------- */

.searchBar {
  width: 100%;
  height: 100px;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputGroup {
  width: 100%;
  padding: 0 5%;
}

.inputField {
  width: 27%;
  padding: 10px 12px;
  display: inline-block;
  border: 0;
  outline: none;
  margin-right: 5px;
}

::placeholder {
  color: var(--dark);
  font-size: 14px;
}

.searchBtn {
  padding: 14px 30px;
  width: 180px;
  border: 0;
  outline: none;
  background: var(--dark);
  color: var(--normalWhite);
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

/* ------------------------Media Queries------------------------ */

@media screen and (max-width: 480px) {
  label {
    display: block;
  }
  .postAJob {
    display: none;
  }
  nav {
    justify-content: space-between;
    padding-right: 5%;
  }

  nav ul {
    /* display: none; */
    width: 100%;
    max-height: 0;
    left: 0;
    background: var(--normalWhite);
    position: absolute;
    top: 70px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  nav ul li {
    display: block;
    margin: 20px auto;
    text-align: left;
    padding: 0 5%;
  }

  #checkBox:checked ~ ul {
    max-height: 300px;
  }

  .logo {
    font-size: 30px;
  }

  .display-3 {
    font-size: 30px;
    /* margin-bottom: 10px; */
  }

  .darkLayer::before {
    left: 5%;
    /* height: 80%; */
  }

  .slideText {
    font-size: 14px;
    max-width: 350px;
    /* margin-bottom: 10px; */
  }

  .hero-slide img {
    object-fit: cover;
  }

  .frame {
    margin-left: -50px;
  }

  .btn {
    padding: 5px 10px;
    width: 150px;
    height: 40px;
  }
}
